<div class="container-fluid">
	<div class="row gameselectionHeader">
		<div style="float: left">
			<a href="#/LandingPage" title="Home Page">
		<img width="40" alt="Brand" src="images/logo.png" style="width:100%"/>
		</a>
		</div>
		
		<div style="text-align: center">		
		<h1>GreedyGame Selector</h1>
		</div>
	</div>
  <div class="row LandingPagesecondrow">
    <div class="col-md-2" style="border: black solid;height: 500px">
      <!--Sidebar content-->

      Search: <input style="width:150px" ng-model="query">

    </div>
    <div class="col-md-10">
    	<div style="border: black solid">
    		<b>Sorting Option:</b>
    		 <a href="" ng-click="sortGames('rating')">rating</a>
    		 <a href="" ng-click="sortGames('name')">name</a>
    		 <a href="" ng-click="sortGames('rating')">XYZ</a>
    	</div>
    </div>
    <div class="col-md-10">
      <!--Body content-->

      
        <span ng-repeat="game in games | filter :query | orderBy:orderProp">
        <a href="#/gameScreen/{{game.name}}">
        <div style="float: left;border: black solid;margin-top: 25px;margin-right: 25px;width: 120px;">
          <h4>{{game.gamelogo}}</h4>
          <h4>{{game.name}}</h4>
          </div>
         </a>
        </span>
      


  </div>
</div>